@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* .carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}

.carousel .thumbs {
  display: flex;
  justify-content: center;
} */

.truncate-wrapper {
  position: relative;
  max-width: 100%;
}

.truncate-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  /* width: 280px; */
}

.full-text {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background: #2e2d2d;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  white-space: normal;
  width: max-content;
  max-width: 250%;
  z-index: 100;
}

.truncate-wrapper:hover .full-text {
  display: block;
}
